header.main-header
    h1.main-header__logo
        a(href=routes.home) #{siteName}
    ul.main-header__items
        if !user.isAuthenticated
            li.items__item
                a(href=routes.join) Join  
            li.items__item
                a(href=routes.login) Log In

        else
            li.items__item
                a(href=`/posts${routes.upload}`) Upload
            li.items__item
                a(href=routes.userDetail(user.id)) Profile     
            li.items__item
                a(href=routes.logout) Log Out