extends layouts/main

block content
    .main-contents.edit-post
        form(action=routes.editPost(post.id),method="post")
            input(type="text",placeholder="Title",name="title",value=post.title,required)
            textarea(name="desc",placeholder="desc")=post.description
            textarea(name="content",placeholder="content",required)=post.content
            input(type="submit",value="Edit")
        a.main-contents__link.main-contents__link--delete(href=routes.deletePost(post.id)) Delete Post    